
*{
    margin: 20px;
    background: lightgrey;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: crimson;
    text-shadow: rgb(179, 177, 177) 3px 4px;
    margin: 25px auto;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.flexbox{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: grey;
    
    }
img{
    width: 5em;
    margin: auto;
    
}
.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:250px;
    height: 350px;
    border: 2px black solid;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 8px;
    }

h3{background: black;
        color: beige;
        padding: 5px;
        border-radius: 8px;
    }

.pie{
    border-radius: 8px;
    text-align: center;
    color: #fff;
    background: gray;
    text-align: center;
    font-size: 16px;
    
    
    }

   