.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
    text-align: left;
}
.img-cs{
    width: 60%;
}
.img-cs1{
    display: float;
    width: 20%;
    justify-content: center;
}
.img-tj{
    width: 20%;
}
.p-cs{
    text-align: justify;
}
.card-box {
    padding: 20px;
    margin-bottom: 30px;
    float: left;
}
.card-box .card-thumbnail {
    max-height: 200px;
    overflow: hidden;
    transition: 1s;
}
.card-box .card-thumbnail:hover {
    transform: scale(1.2);
}
.card-box h3 a {
    font-size: 20px;
    text-decoration: none;
}

